{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

{% endblock %}

{% block heading-elements %}
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
    <div class="card card-body shadow col-sm-4">
        <p>{% trans "To start your transfer, please specify domain including your authentication code." %}</p>
            <form action="/whstack/domains/transfer" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn bg-blue float-right mx-1 mt-2" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}
