{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

{% endblock %}

{% block heading-elements %}
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <div class="row">
            <div class="col-xl-4">
                <div class="card card-body shadow">
                    <h2>{% trans "Quick Register" %}</h2><br>
                    <p class="text-warning">{% trans "Domain will be registered without confirmation." %}</p><br>
                    <div class="form-control col-sm-12">
                        <form action="/whstack/domains/register" method="post">
                            {% csrf_token %}
                            {{ form_quick_register.as_table }}
                            <input type="submit" class="btn bg-blue float-right mx-1 mt-2" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card card-body shadow">
                    <h2>{% trans "Domain Search" %}</h2><br>
                    {% trans "Get a list of common domains for your keyword including registration status." %}
                    <div class="form-control col-sm-12">
                        <form action="/whstack/domains/multi-register/search" method="post">
                            {% csrf_token %}
                            {{ form_domain_search.as_table }}
                            <input type="submit" class="btn bg-blue float-right mx-1 mt-2" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
