{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

{% endblock %}

{% block heading-elements %}
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <div class="row">
            <h6>
                {% trans "Zonename" %}: {{ zone_data.name }}<br>
                {% trans "Admin-Email" %}: {{ zone_data.admin_email }}
            </h6>
            <a href="#" class="mx-1 float-right"><i class="icon-pencil"></i></a>
        </div>
    </div>
    <div class="row col-md-12">
        {% for record,value in zone_data.records.items %}
            <div class="card card-header card-body shadow-lg bg-white col-md-12">
                <div class="row">
                    <h6>{{ record }}</h6>
                    <a href="/whstack/zone/{{ zone_data.name }}/edit-record/{{ zone_data.name }}/{{ zone_data.type }}" class="mx-1 float-right"><i class="icon-pencil"></i></a>
                    <a href="/whstack/zone/{{ zone_data.name }}/delete/{{ zone_data.name }}/{{ zone_data.type }}" class="mx-1 float-right"><i class="icon-close2"></i></a>
                </div>
                {% for content,record in value %}
                    <div class="card-body shadow-lg">
                        <b>{{ record.type }}:</b> {{ content.content }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
