{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

{% endblock %}

{% block heading-elements %}
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
            <form method='POST' action='/whstack/domain/{{ domain_data.id }}'> {% csrf_token %}
            <div class="form-row align-items-center">
                <table>
                    {{ whstack_domain_edit_form }}
                </table>
            </div>
            <hr>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">{% trans "Change" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
