{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_domains_register').DataTable({
                pageLength: 10,
                order: [[0, "asc"]]
            });
        });
    </script>
{% endblock %}

{% block heading-elements %}
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <form action="/whstack/domains/multi-register" method="post">
            {% csrf_token %}
            <table id="all_domains_register" class="table table-striped table-bordered nowrap">
                <thead>
                <tr>
                    <th>{% trans "Enable To Buy" %}</th>
                    <th>{% trans "Domain" %}</th>
                    <th>{% trans "Registration Status" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for domain in all_domains_register %}
                    <tr>
                        <td><input type="checkbox" name="buy" id="domain_{{ domain.domain }}" checked></td>
                        <td>{{ domain.domain }}</td>
                        <td>{{ domain.status_text }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
